<div>
    <table st-table="moviesCollection.movies" st-safe-src="movieData.movies"  class="table table-striped" >

        <thead>
            <tr>
                <th st-sort="pelicula">Titulo</th>
                <th st-sort="ano">Año</th>
                <th st-sort="trama">Trama</th>
                <th> Editar</th>
            </tr>
            <tr>
                <th>
                    <input st-search="pelicula"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                </th>
                <th>
                    <input st-search="ano"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                </th>
                <th>
                    <input st-search="trama"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                </th>
                <th >
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                        <input st-search placeholder="" class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                    </div>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="actualMovie in moviesCollection.movies">
                <td data-title="'pelicula'"  filter="{pelicula: 'text'}">{{actualMovie.pelicula}}</td>
                <td data-title="'ano'" filter="{ano: 'number'}" sortable="'ano'">{{actualMovie.ano}}</td>
                <td data-title="'trama'" filter="{trama: 'text'}" sortable="'trama'">{{actualMovie.trama}}</td>
                <td data-title="'Editar'" >                                             
                    <div class="inline col-lg-12">                                 
                        <i class="editBtn fa fa-film col-lg-4"  ng-click="this.showMovie(actualMovie)" data-toggle="modal" data-target="#showMovieModal" aria-hidden="true"> </i>                                                  
                        <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.setEditMovie(actualMovie)" data-toggle="modal" data-target="#editMovieModal" aria-hidden="true">
                        </i>
                        <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteMovie(actualMovie)"aria-hidden="true"></i>
                    </div>                                         
                </td>     
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-template="customPagination.html" st-displayed-pages="5"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>