<div>
    <table st-table="usersCollection.users" st-safe-src="userDataSet.users"  class="table table-striped" >

        <thead>
            <tr>
                <th st-sort="idUsuario">Id</th>
                <th st-sort="userName">Usuario</th>
                <th st-sort="correo">Correo</th>
                <th st-sort="telefono">Telefono</th>
                
                <th> Editar</th>
            </tr>
            <tr>
                <th>
                    <input st-search="idUsuario"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                </th>
                <th>
                    <input st-search="userName"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                </th>
                <th>
                    <input st-search="correo"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                </th>
                 <th>
                    <input st-search="telefono"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                </th>
                <th >
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                        <input st-search placeholder="" class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                    </div>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="actualUser in usersCollection.users">
                <td data-title="'Id'"  filter="{Id: 'text'}">{{actualUser.idUsuario}}</td>
                <td data-title="'Usuario'" filter="{user: 'number'}" sortable="'Year'">{{actualUser.userName}}</td>
                <td data-title="'Correo'" filter="{rol: 'text'}">{{actualUser.correo}}</td>
                <td data-title="'Teléfono'" filter="{rol: 'text'}">{{actualUser.telefono }}</td>
                <td data-title="'Editar'" >
                    <div class="inline col-lg-12">
                        <i class="editBtn fa fa-film col-lg-4" ng-click="this.showUser(actualUser)" data-toggle="modal" data-target="#showUserModal" aria-hidden="true"></i>
                        <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.setEditUser(actualUser)" data-toggle="modal" data-target="#editUserModal" aria-hidden="true">
                        </i>
                        <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteUser(actualUser)"aria-hidden="true">
                        </i>
                    </div>
                </td>         
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-template="customPagination.html" st-displayed-pages="5"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>