<div class="col-lg-12  col-sm-12">
  <form class="btmspace-50" method="post" action="#">
    <div class="form-group">
      <h5 class="col-md-2 control-label" for="inputNombre">Escribe el titulo:</h5>
      <div class="col-md-4">
        <input press-enter="this.getBookingMovie()" class="form-control" id="movieName" ng-model="actualMovie.title" />
      </div>
      <div class="col-md-2">
        <btn ng-click="this.getBookingMovie()" ng-show="!loading" class=" magic fa fa-search" aria-hidden="true"></btn>
      </div>
    </div>
  </form>
</div>
<div>
  <table st-table="moviesSelected.moviesBooked" st-safe-src="moviesSelectedDataset.moviesBooked" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="pelicula">Pelicula</th>
        <th> Agregar al carrito</th>
      </tr>
      <tr>
          <th>
              <input st-search="pelicula"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
          </th>
          <th >
              <div class="input-group margin-bottom-sm">
                  <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                  <input st-search placeholder="" class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
              </div>

          </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="actualBooking in moviesSelected.moviesBooked">
        <td data-title="'Id'" filter="{Id: 'text'}">{{actualBooking.pelicula}}</td>
        <td data-title="'Editar'">
          <div class="inline col-lg-12">
            <i class="editBtn glyphicon glyphicon-shopping-cart" ng-click="this.addBookingMovie(actualBooking)" aria-hidden="true"></i>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-template="customPagination.html" st-displayed-pages="5"></div>
            </td>
        </tr>
    </tfoot>
  </table>
</div>
