<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- 
_____ _   _  _____ _     _    _ _____  ______  _____ 
|_   _| \ | |/ ____| |   | |  | |  __ \|  ____|/ ____|
| | |  \| | |    | |   | |  | | |  | | |__  | (___  
| | | . ` | |    | |   | |  | | |  | |  __|  \___ \ 
_| |_| |\  | |____| |___| |__| | |__| | |____ ____) |
|_____|_| \_|\_____|______\____/|_____/|______|_____/ 

-->



        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/navbar.css" rel="stylesheet">
        <link href="css/landing-page.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> 

        <!-- Include Bootstrap-select CSS, JS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />

        <title>Video Extrem</title>

    </head>

    <body ng-app="crudApp">

        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="#inicio">
                        <i class="fa fa-play-circle"></i> <span class="light">Video</span> Extreme
                    </a>
                </div>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop" />
                <ul class="menu">

                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Peliculas</label>
                        <a href="#">Peliculas</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul >
                            <li><a data-toggle="modal" data-target="#createMovieModal"href="#movie">Agregar</a></li>

                            <li><a href="#movie">Buscar </a></li>
                        </ul>
                    </li>

                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Idiomas</label>
                        <a href="#">Idiomas</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul >
                            <li><a data-toggle="modal" data-target="#createLanguageModal"href="#langauage">Agregar</a></li>

                            <li><a href="#language">Buscar </a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Actores</label>
                        <a href="#">Actores</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul  id="navActors">
                            <li><a data-toggle="modal" data-target="#createActorsModal" href="#actor">Agregar</a></li>

                            <li><a href="#actor">Buscar </a></li>
                        </ul>
                    </li><li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">Subtitulos</label>
                    <a href="#">Subtitulos</a>
                    <input type="checkbox" id="drop-1"/>
                    <ul  id="navSubtitles">
                        <li><a data-toggle="modal" data-target="#createSubtitlesModal" href="#subtitle">Agregar</a></li>

                        <li><a href="#subtitle">Buscar </a></li>
                    </ul>
                    </li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Generos</label>
                        <a href="#">Generos</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul  id="navGendre">
                            <li><a data-toggle="modal" data-target="#createGendreModal"href="#gendre">Agregar</a></li>

                            <li><a href="#gendre">Buscar </a></li>
                        </ul>
                    </li><li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">Categorias</label>
                    <a href="#">Categorias</a>
                    <input type="checkbox" id="drop-1"/>
                    <ul  id="navCategories">
                        <li><a data-toggle="modal" data-target="#createCategoriesModal" href="#category">Agregar</a></li>

                        <li><a href="#category">Buscar </a></li>
                    </ul>
                    </li><li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">Sugerencias</label>
                    <a href="#">Sugerencias</a>
                    <input type="checkbox" id="drop-1"/>

                    <ul  id="navSuggestions">
                        <li><a data-toggle="modal" data-target="#createSuggestionModal"href="#suggestion">Agregar</a></li>

                        <li><a href="#suggestion">Buscar </a></li>
                    </ul>
                    </li>

                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Usuarios</label>
                        <a href="#">Usuarios</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul  id="navUser">
                            <li><a data-toggle="modal" data-target="#createUserModal" href="#user">Agregar</a></li>

                            <li><a href="#user">Buscar </a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Roles</label>
                        <a href="#">Roles</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul  id="navRole">
                            <li><a data-toggle="modal" data-target="#createRoleModal" href="#role">Agregar</a></li>

                            <li><a href="#role">Buscar </a></li>
                        </ul>
                    </li>



                </ul>
            </div>
        </nav>


        <!--
_    _ ______          _____  ______ _____  
| |  | |  ____|   /\   |  __ \|  ____|  __ \ 
| |__| | |__     /  \  | |  | | |__  | |__) |
|  __  |  __|   / /\ \ | |  | |  __| |  _  / 
| |  | | |____ / ____ \| |__| | |____| | \ \ 
|_|  |_|______/_/    \_\_____/|______|_|  \_\

-->                                              



        <a name="inicio"></a>
        <header class="intro">
            <div class="intro-body">
                <div class="container principalImage">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <h1 class="brand-heading">Video <div class ="exColor">Ex</div>treme</h1>
                            <p class="intro-text">Entretenimiento y calidad al mejor precio </p>

                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span> </a>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Inicia Sesion</span> </a>
                            <br>

                        </div>
                        <a href="#estrenos" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <!-- 
_____        _____ ______    _____ ____  _   _ _______ ______ _   _ _______ 
|  __ \ /\   / ____|  ____|  / ____/ __ \| \ | |__   __|  ____| \ | |__   __|
| |__) /  \ | |  __| |__    | |   | |  | |  \| |  | |  | |__  |  \| |  | |   
|  ___/ /\ \| | |_ |  __|   | |   | |  | | . ` |  | |  |  __| | . ` |  | |   
| |  / ____ \ |__| | |____  | |___| |__| | |\  |  | |  | |____| |\  |  | |   
|_| /_/    \_\_____|______|  \_____\____/|_| \_|  |_|  |______|_| \_|  |_|   

-->



        <div class="pageContent">
            <!-- Peliculas -->
            <a name="movie"></a>
            <div class="content-section-a" ng-controller="movieTableController as movie">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Peliculas</h2>
                            <div >
                                <div >

                                    <table ng-table="movie.tableParams" class=" table table-bordered table-striped  table-condensed">
                                        <tr ng-repeat="actualMovie in $data.Search " >
                                            <td data-title="'Titulo'"  filter="{Title: 'text'}"><h5>{{actualMovie.Title}}</h5></td>
                                            <td data-title="'Año'" filter="{Year: 'number'}" sortable="'Year'"><h5>{{actualMovie.Year}}</h5></td>
                                            <td data-title="'Genero'" filter="{Genero: 'text'}" sortable="'Genero'"><h5></h5></td>
                                            <td data-title="'Idioma'" filter="{Idioma: 'text'}" sortable="'Idioma'"><h5></h5></td>
                                            <td data-title="'Precio'" filter="{Precio: 'text'}" sortable="'Precio'"><h5></h5></td>
                                            <td data-title="'Editar'" >
                                                <div class="inline col-lg-12"> 
                                                    <i class="editBtn fa fa-film col-lg-4" ng-click="this.showMovie(actualMovie)" data-toggle="modal" data-target="#showMovieModal" aria-hidden="true"> </i>
                                                    <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.editMovie(actualMovie)"aria-hidden="true">  </i>
                                                    <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteMovie(actualMovie)"aria-hidden="true"></i>
                                                </div>
                                            </td>

                                        </tr>
                                    </table>

                                </div>



                                <div ng-include="'movieModal.html'"></div> 
                            </div>
                            <!-- Button trigger modal -->



                        </div>

                    </div>
                </div>
            </div>

            <!-- Idiomas -->
            <a name="language"></a>
            <div class="content-section-b">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Idiomas</h2>
                            <div >
                                <div ng-controller="languageController as language">

                                    <table ng-table="language.tableParams" class="table table-bordered table-striped table-condensed">
                                        <tr ng-repeat="actualLanguage in arrayLanguages " >
                                            <td data-title="'Id'"  filter="{Id: 'text'}">{{actualLanguage.idIdioma}}</td>
                                            <td data-title="'Idioma'" filter="{Idioma: 'number'}" sortable="'Year'">{{actualLanguage.idioma}}</td>
                                            <td data-title="'Editar'" >                                             
                                                <div class="inline col-lg-12">                                 
                                                   <i class="editBtn fa fa-film col-lg-4" ng-click="this.showCategory(actualLanguage)" data-toggle="modal" data-target="#showLanguageModal" aria-hidden="true"> </i>                                                  
                                                    <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.setEditLanguage(actualLanguage)" data-toggle="modal" data-target="#editLanguageModal" aria-hidden="true"></i>                   <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteLanguage(actualLanguage)"aria-hidden="true"></i>
                                                </div>                                         
                                            </td>                                      
                                        </tr>
                                    </table>
                                    <div ng-include="'languageModal.html'"></div>
                                </div>      
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Actores -->
            <a name="actor"></a>
            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Actores</h2>
                            <div >
                                <div ng-controller="actorController as actores">
                                    <table ng-table="actores.tableParams" class="table table-bordered table-striped table-condensed">
                                        <tr ng-repeat="actualActor in arrayActores " >
                                            <td data-title="'Id'"  filter="{Id: 'text'}">{{actualActor.idActor}}</td>
                                            <td data-title="'Actor'" filter="{Actor: 'text'}">{{actualActor.actor}}</td>
                                            <td data-title="'Editar'" >                                             
                                            <div class="inline col-lg-12">                                                  
                                                <i class="editBtn fa fa-film col-lg-4" ng-click="this.showActor(actualActor)" data-toggle="modal" data-target="#showActorMModal" aria-hidden="true"> 
                                                </i>                                                 
                                                <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.setEditActor(actualActor)" data-toggle="modal" data-target="#editActorMModal" aria-hidden="true">  
                                                </i>                                                 
                                                <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteActor(actualActor)" aria-hidden="true">
                                                </i>                         
                                            </div>                                         
                                            </td>                                      
                                        </tr>
                                    </table>
                                    <div ng-include="'actorM.html'"></div>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Subtitles -->
            <a name="subtitle"></a>
            <div class="content-section-b">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Subtitulos</h2>
                            <div >
                                <div ng-controller="subtitlesController as subtitles">
                                    <table ng-table="subtitles.tableParams" class="table table-bordered table-striped table-condensed">
                                        <tr ng-repeat="actualSubtitle in arraySubtitulos " >
                                            <td data-title="'Id'"  filter="{Id: 'text'}">{{actualSubtitle.idSubtitulo}}</td>
                                            <td data-title="'Subtitulo'" filter="{subtitles: 'number'}" sortable="'Year'">{{actualSubtitle.subtitulo}}</td>
                                            <td data-title="'Editar'" >                                             
                                            <div class="inline col-lg-12">                                                  
                                                <i class="editBtn fa fa-film col-lg-4" ng-click="this.showSubtitle(actualSubtitle)" data-toggle="modal" data-target="#showSubtitleModal" aria-hidden="true"> 
                                                </i>                                                 
                                                <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.setEditSubtitle(actualSubtitle)" data-toggle="modal" data-target="#editSubtitleModal" aria-hidden="true">  
                                                </i>                                                 
                                                <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteSubtitle(actualSubtitle)" aria-hidden="true">
                                                </i>                         
                                            </div>                                         
                                            </td>                                      
                                        </tr>
                                    </table>
                                    <div ng-include="'subtitleModal.html'"></div>
                                </div> 
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- genre -->
            <a name="gendre"></a>
            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Genero</h2>
                            <div >
                                <div ng-controller="genreController as genre">
                                    <table ng-table="genre.tableParams" class="table table-bordered table-striped table-condensed">
                                        <tr ng-repeat="actualGenre in arrayGeneros " >
                                            <td data-title="'Id'"  filter="{Id: 'text'}">{{actualGenre.idGenero}}</td>
                                            <td data-title="'Genero'" filter="{genre: 'number'}" sortable="'Year'">{{actualGenre.genero}}</td>
                                            <td data-title="'Descripcion'" filter="{description: 'text'}">{{actualGenre.descripcion}}</td>
                                            <td data-title="'Editar'" >                                             
                                                <div class="inline col-lg-12">                                                  
                                                    <i class="editBtn fa fa-film col-lg-4" ng-click="this.showGenre(actualGenre)" data-toggle="modal" data-target="#showGenreModal" aria-hidden="true"> </i>                                                 
                                                    <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.setEditGenre(actualGenre)" data-toggle="modal" data-target="#editGenreModal" aria-hidden="true">  </i>
                                                    <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteGenre(actualGenre)"aria-hidden="true"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div ng-include="'genreModal.html'"></div>
                                </div> 
                            </div>
                            <!-- Button trigger modal -->



                        </div>

                    </div>
                </div>
            </div>

            <!-- categories -->
            <a name="category"></a>
            <div class="content-section-b">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Categorias </h2>
                            <div >
                                <div ng-controller="categoriesController as categories">
                                    <table ng-table="categories.tableParams" class="table table-bordered table-striped table-condensed">
                                        <tr ng-repeat="actualCategory in arrayCategories " >
                                            <td data-title="'Id'"  filter="{Id: 'text'}">{{actualCategory.idCategoria}}</td>
                                            <td data-title="'Categoria'" filter="{categories: 'number'}" sortable="'Year'">{{actualCategory.categoria}}</td>
                                            <td data-title="'Editar'" >                                             
                                                <div class="inline col-lg-12">                                 
                                                    <i class="editBtn fa fa-film col-lg-4" ng-click="this.showCategory(actualCategory)" data-toggle="modal" data-target="#showCategoryModal" aria-hidden="true"> </i>                                                 
                                                    <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.setEditCategory(actualCategory)" data-toggle="modal" data-target="#editCategoryModal" aria-hidden="true"></i>                   <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteCategory(actualCategory)"aria-hidden="true"></i>
                                                </div>                                         
                                            </td>
                                        </tr>
                                    </table>
                                    <div ng-include="'categorieModal.html'"></div>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- suggestions -->
            <a name="suggestion"></a>
            <div class="content-section-a">
                <div class="container">
                    <div class="actualCategory">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Sugerencias</h2>
                            <div >
                                <div ng-controller="suggestionsController as suggestions">

                                    <table ng-table="suggestions.tableParams" class="table table-bordered table-striped table-condensed">
                                        <tr ng-repeat="actualSuggestion in $data.Search " >
                                            <td data-title="'Id'"  filter="{Id: 'text'}">{{actualSuggestion.idsuggestions}}</td>
                                            <td data-title="'Sugerencia'" filter="{suggestions: 'number'}" sortable="'Year'">{{actualSuggestion.suggestions}}</td>
                                            <td data-title="'Editar'" >                                             <div class="inline col-lg-12">                                                  <i class="editBtn fa fa-film col-lg-4" ng-click="this.showSuggestion(actualSuggestion)" data-toggle="modal" data-target="#showSuggestionModal" aria-hidden="true"> </i>                                                 <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.editSuggestion(actualSuggestion)"aria-hidden="true">  </i>                                                 <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteSuggestion(actualSuggestion)"aria-hidden="true"></i>                                             </div>                                         </td>                                      </tr>
                                    </table>

                                </div>


                                <div ng-include="'suggestionModal.html'"></div> 
                            </div>
                            <!-- Button trigger modal -->



                        </div>

                    </div>
                </div>
            </div>
            <!-- users -->
            <a name="user"></a>
            <div class="content-section-b">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Usuarios</h2>
                            <div >
                                <div ng-controller="userController as user">

                                    <table ng-table="user.tableParams" class="table table-bordered table-striped table-condensed">
                                        <tr ng-repeat="actualUser in $data.Search " >
                                            <td data-title="'Id'"  filter="{Id: 'text'}">{{actualUser.iduser}}</td>
                                            <td data-title="'Usuario'" filter="{user: 'number'}" sortable="'Year'">{{actualUser.user}}</td>
                                            <td data-title="'Editar'" >                                             <div class="inline col-lg-12">                                                  <i class="editBtn fa fa-film col-lg-4" ng-click="this.showUser(actualUser)" data-toggle="modal" data-target="#showUserModal" aria-hidden="true"> </i>                                                 <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.editUser(actualUser)"aria-hidden="true">  </i>                                                 <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteUser(actualUser)"aria-hidden="true"></i>                                             </div>                                         </td>                                      </tr>
                                    </table>

                                </div>


                                <div ng-include="'userModal.html'"></div> 
                            </div>
                            <!-- Button trigger modal -->



                        </div>

                    </div>
                </div>
            </div>
            <!-- role -->
            <a name="role"></a>
            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Roles</h2>
                            <div >
                                <div ng-controller="roleController as role">

                                    <table ng-table="role.tableParams" class="table table-bordered table-striped table-condensed">
                                        <tr ng-repeat="actualRol in arrayRoles " >
                                            <td data-title="'Id'"  filter="{Id: 'text'}">{{actualRol.idRol}}</td>
                                            <td data-title="'Rol'" filter="{role: 'number'}" sortable="'Year'">{{actualRol.rol}}</td>
                                            <td data-title="'Editar'" >                                             
                                                <div class="inline col-lg-12">                                 
                                                   <i class="editBtn fa fa-film col-lg-4" ng-click="this.showRol(actualRol)" data-toggle="modal" data-target="#showRolModal" aria-hidden="true"> </i>                                                  
                                                    <i class="editBtn fa fa-pencil col-lg-4" ng-click="this.setEditRol(actualRol)" data-toggle="modal" data-target="#editRolModal" aria-hidden="true"></i>                   <i class="editBtn fa fa-trash col-lg-4"  ng-click="this.deleteRol(actualRol)"aria-hidden="true"></i>
                                                </div>                                         
                                            </td>                                        
                                            </tr>
                                    </table>
                                    <div ng-include="'roleModal.html'"></div> 
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <!--
______ ____   ____ _______ ______ _____  
|  ____/ __ \ / __ \__   __|  ____|  __ \ 
| |__ | |  | | |  | | | |  | |__  | |__) |
|  __|| |  | | |  | | | |  |  __| |  _  / 
| |   | |__| | |__| | | |  | |____| | \ \ 
|_|    \____/ \____/  |_|  |______|_|  \_\

-->


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li class="footer-menu-divider">&sdot;</li>

                            <li>
                                <a href="#inicio">Inicio</a>
                            </li>

                            <li class="footer-menu-divider">&sdot;</li>

                            <li>
                                <a href="#estrenos">Estrenos</a>
                            </li>

                            <li class="footer-menu-divider">&sdot;</li>

                            <li>
                                <a href="#contact">Nuestras redes sociales</a>
                            </li>

                            <li class="footer-menu-divider">&sdot;</li>                                

                            <li>
                                <a href="#sugerencias">Sugerencias</a>
                            </li>
                        </ul>

                        <p class="copyright text-muted small">Copyright &copy; Video Extrem 2017</p>
                    </div>
                </div>
            </div>
        </footer>

    </body>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!--Angular.js  --->
    <script src="node_modules/angular/angular.min.js"></script>

    <!--Angular.js Resources  --->
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key-Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFvXfKy-vn2ilKVHLFrLIuLoE3JQjptfU&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <!--OMBD API --->
    <script src="js/OmbdAPI.js"></script>


    <!-- Include Bootstrap-select CSS, JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>


    <!--Angular Table   --->
    <script src="js/ng-table.min.js"></script>

    <!--Angular Drag and drop   --->
    <script src="js/dragAndDropList.js"></script>



</html>
