<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

<!-- 
  _____ _   _  _____ _     _    _ _____  ______  _____ 
 |_   _| \ | |/ ____| |   | |  | |  __ \|  ____|/ ____|
   | | |  \| | |    | |   | |  | | |  | | |__  | (___  
   | | | . ` | |    | |   | |  | | |  | |  __|  \___ \ 
  _| |_| |\  | |____| |___| |__| | |__| | |____ ____) |
 |_____|_| \_|\_____|______\____/|_____/|______|_____/ 
                                                                                                             
-->
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/navbar.css" rel="stylesheet">
        <link href="css/landing-page.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> 

        <!-- Include Bootstrap-select CSS, JS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />

        <title>Video Extrem</title>

    </head>

    <body ng-app="crudApp">

        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="#inicio">
                        <i class="fa fa-play-circle"></i> <span class="light">Video</span> Extreme
                    </a>
                </div>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop" />
                <ul class="menu">

                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Peliculas</label>
                        <a href="#">Peliculas</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul >
                            <li><a data-toggle="modal" data-target="#createMovieModal"href="#movie">Agregar</a></li>
                            <li><a href="#movie">Buscar </a></li>
                        </ul>
                    </li>

                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Idiomas</label>
                        <a href="#">Idiomas</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul >
                            <li><a data-toggle="modal" data-target="#createLanguageModal"href="#langauage">Agregar</a></li>
                            <li><a href="#language">Buscar </a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Actores</label>
                        <a href="#">Actores</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul  id="navActors">
                            <li><a data-toggle="modal" data-target="#createActorMModal" href="#actor">Agregar</a></li>
                            <li><a href="#actor">Buscar </a></li>
                        </ul>
                    </li><li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">Subtitulos</label>
                    <a href="#">Subtitulos</a>
                    <input type="checkbox" id="drop-1"/>
                    <ul  id="navSubtitles">
                        <li><a data-toggle="modal" data-target="#createSubtitleModal" href="#subtitle">Agregar</a></li>
                        <li><a href="#subtitle">Buscar </a></li>
                    </ul>
                    </li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Generos</label>
                        <a href="#">Generos</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul  id="navGendre">
                            <li><a data-toggle="modal" data-target="#createGenreModal"href="#genre">Agregar</a></li>
                            <li><a href="#genre">Buscar </a></li>
                        </ul>
                    </li><li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">Categorias</label>
                    <a href="#">Categorias</a>
                    <input type="checkbox" id="drop-1"/>
                    <ul  id="navCategories">
                        <li><a data-toggle="modal" data-target="#createCategorieModal" href="#category">Agregar</a></li>
                        <li><a href="#category">Buscar </a></li>
                    </ul>
                    </li><li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">Sugerencias</label>
                    <a href="#">Sugerencias</a>
                    <input type="checkbox" id="drop-1"/>
                    <ul  id="navSuggestions">
                        <li><a data-toggle="modal" data-target="#createSuggestionModal" href="#suggestion">Agregar</a></li>
                        <li><a href="#suggestion">Buscar </a></li>
                    </ul>
                    </li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Usuarios</label>
                        <a href="#">Usuarios</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul  id="navUser">
                            <li><a data-toggle="modal" data-target="#createUserModal" href="#user">Agregar</a></li>
                            <li><a href="#user">Buscar </a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-1" class="toggle">Roles</label>
                        <a href="#">Roles</a>
                        <input type="checkbox" id="drop-1"/>
                        <ul  id="navRole">
                            <li><a data-toggle="modal" data-target="#createRoleModal" href="#role">Agregar</a></li>
                            <li><a href="#role">Buscar </a></li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="window.open('http://www.videoextrem.com/api/generate_backup_movies_csv_file.php?queryType=getBackup')">Respaldos</a>
                    </li>
                </ul>
                
            </div>
        </nav>
        <!--
_    _ ______          _____  ______ _____  
| |  | |  ____|   /\   |  __ \|  ____|  __ \ 
| |__| | |__     /  \  | |  | | |__  | |__) |
|  __  |  __|   / /\ \ | |  | |  __| |  _  / 
| |  | | |____ / ____ \| |__| | |____| | \ \ 
|_|  |_|______/_/    \_\_____/|______|_|  \_\

-->                                              
        <a name="inicioAdministrator"></a>
        <header class="intro">
            <div class="intro-body">
                <div class="container principalImage">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">Video <div class ="exColor">Ex</div>trem</h1>
                            <p class="intro-text">Entretenimiento y calidad al mejor precio </p>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span> </a>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Inicia Sesion</span> </a>
                            <br>
                        </div>
                        <a href="#estrenos" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <!-- 
_____        _____ ______    _____ ____  _   _ _______ ______ _   _ _______ 
|  __ \ /\   / ____|  ____|  / ____/ __ \| \ | |__   __|  ____| \ | |__   __|
| |__) /  \ | |  __| |__    | |   | |  | |  \| |  | |  | |__  |  \| |  | |   
|  ___/ /\ \| | |_ |  __|   | |   | |  | | . ` |  | |  |  __| | . ` |  | |   
| |  / ____ \ |__| | |____  | |___| |__| | |\  |  | |  | |____| |\  |  | |   
|_| /_/    \_\_____|______|  \_____\____/|_| \_|  |_|  |______|_| \_|  |_|   

-->
        <div class="pageContent">
            <!-- Peliculas -->
            <a name="movie"></a>
            <div class="content-section-a adminDiv"  id="movie" ng-controller="movieTableController as movie">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Peliculas</h2>
                            <div>
                                <div ng-include="'adminMovieTable.html'"></div> 
                                <div ng-include="'movieModal.html'"></div>
                                <div ng-include="'backupMoviesModal.html'"></div>  
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>



            <!-- Idiomas -->
            <a name="language"></a>
            <div class="content-section-b adminDiv" id="language">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Idiomas</h2>
                            <div >
                                <div ng-controller="languageController as language">
                                    <div ng-include="'adminLanguageTable.html'"></div>
                                    <div ng-include="'languageModal.html'"></div>
                                </div>      
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Actores -->
            <a name="actor"></a>
            <div class="content-section-a adminDiv" id="actor">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Actores</h2>
                            <div >
                                <div ng-controller="actorController as actores">
                                    <div ng-include="'adminActorTable.html'"></div>
                                    <div ng-include="'actorM.html'"></div>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Subtitles -->
            <a name="subtitle"></a>
            <div class="content-section-b adminDiv" id="subtitle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Subtitulos</h2>
                            <div >
                                <div ng-controller="subtitlesController as subtitles">
                                    <div ng-include="'adminSubtitleTable.html'"></div>
                                    <div ng-include="'subtitleModal.html'"></div>
                                </div> 
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- genre -->
            <a name="genre"></a>
            <div class="content-section-a adminDiv" id="genre">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Generos</h2>
                            <div ng-controller="genreController">
                                <div ng-include="'adminGenreTable.html'"></div>
                                <div ng-include="'genreModal.html'"></div>
                            </div> 
                        </div>
                        <!-- Button trigger modal -->
                    </div>
                </div>
            </div>

            <!-- categories -->
            <a name="category"></a>
            <div class="content-section-b adminDiv" id="category">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Categorias </h2>
                            <div >
                                <div ng-controller="categoriesController as categories">
                                   <div ng-include="'adminCategoriesTable.html'"></div>
                                    <div ng-include="'categorieModal.html'"></div>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        </div>

                    </div>
                </div>
            </div>

            <!-- suggestions -->
            <a name="suggestion"></a>
            <div class="content-section-a adminDiv" id="suggestion">
                <div class="container">
                    <div class="actualCategory">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Sugerencias</h2>
                            <div>
                                <div ng-controller="suggestionsController as suggestions">
                                    <div ng-include="'adminSuggestionTable.html'"></div> 
                                    <div ng-include="'suggestionModal.html'"></div> 
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- users -->
            <a name="user"></a>
            <div class="content-section-b adminDiv" id="user">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Usuarios</h2>

                            <div ng-controller="userController" >
                               <div ng-include="'adminUserTable.html'"></div> 
                                <div ng-include="'userModal.html'"></div> 
                            </div>
                            
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- reservaciones -->
            <a name="booking"></a>
            <div class="content-section-b adminDiv" id="booking">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Reservaciones</h2>

                            <div ng-controller="bookingController" >
                               <div ng-include="'adminBookingTable.html'"></div> 
                            </div>
                            
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- role -->
            <a name="role"></a>
            <div class="content-section-a adminDiv" id="role">
                <div class="container">
                    <div class="row" ng-controller="roleController">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Roles</h2>
                            <div >
                                <table st-table="rolesCollection.roles" st-safe-src="rolesData.roles"  class="table table-striped" >

                                    <thead>
                                        <tr>
                                            <th st-sort="idRol">Id</th>
                                            <th st-sort="rol">Rol</th>
                                            <th> Editar</th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input st-search="idRol"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                                            </th>
                                            <th>
                                                <input st-search="rol"  class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                                            </th>
                                            <th >
                                                <div class="input-group margin-bottom-sm">
                                                    <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                                                    <input st-search placeholder="" class="input-filter form-control ng-pristine ng-valid ng-scope ng-empty ng-touched" type="search"/>
                                                </div>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="actualRol in rolesCollection.roles">
                                            <td data-title="'Id'"  filter="{Id: 'text'}">{{actualRol.idRol}}</td>
                                            <td data-title="'Rol'" filter="{role: 'number'}" sortable="'Year'">{{actualRol.rol}}</td>
                                            <td data-title="'Editar'" >                                             
                                                <div class="inline col-lg-12">                                 
                                                    <i class="editBtn fa fa-film col-lg-4"  ng-click="this.showRol(actualRol)" data-toggle="modal" data-target="#showRolModal" aria-hidden="true"> </i>                                                  
                                                    <i class="editBtn fa fa-pencil col-lg-4"  ng-click="this.setEditRol(actualRol)" data-toggle="modal" data-target="#editRolModal" aria-hidden="true"></i>                   
                                                    <i class="editBtn fa fa-trash col-lg-4"  data-target="#messageModal"  ng-click="this.deleteRol(actualRol)"aria-hidden="true"></i>
                                                </div>                                         
                                            </td>     
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-template="customPagination.html" st-displayed-pages="5"></div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- Button trigger modal -->
                            <div ng-include="'roleModal.html'"></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- discounts -->
            <a name="discount"></a>
            <div class="content-section-b adminDiv" id="discounts">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Carruseles</h2>
                            <div ng-controller="discountController" >
                               <div ng-include="'adminDiscountTable.html'"></div> 
                               <div ng-include="'discountModal.html'"></div> 
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Locales -->
            <a name="local"></a>
            <div class="content-section-a adminDiv" id="local">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Locales</h2>
                            <div >
                                <div ng-controller="storeController as stores">
                                    <div ng-include="'adminStoreTable.html'"></div>
                                    <div ng-include="'storeModal.html'"></div>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--
______ ____   ____ _______ ______ _____  
|  ____/ __ \ / __ \__   __|  ____|  __ \ 
| |__ | |  | | |  | | | |  | |__  | |__) |
|  __|| |  | | |  | | | |  |  __| |  _  / 
| |   | |__| | |__| | | |  | |____| | \ \ 
|_|    \____/ \____/  |_|  |______|_|  \_\

-->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li class="footer-menu-divider">&sdot;</li>

                            <li>
                                <a href="#inicio">Inicio</a>
                            </li>

                            <li class="footer-menu-divider">&sdot;</li>

                            <li>
                                <a href="#estrenos">Estrenos</a>
                            </li>

                            <li class="footer-menu-divider">&sdot;</li>

                            <li>
                                <a href="#contact">Nuestras redes sociales</a>
                            </li>

                            <li class="footer-menu-divider">&sdot;</li>                                

                            <li>
                                <a href="#sugerencias">Sugerencias</a>
                            </li>
                        </ul>

                        <p class="copyright text-muted small">Copyright &copy; Video Extrem 2017</p>
                    </div>
                </div>
            </div>
        </footer>
        <div ng-include="messageModal.html"></div> 
    </body>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!--Angular.js  --->
    <script src="node_modules/angular/angular.min.js"></script>

    <!--Angular.js Resources  --->
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key-Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFvXfKy-vn2ilKVHLFrLIuLoE3JQjptfU&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <!--OMBD API --->
    <script src="js/OmbdAPI.js"></script>
    
    <!--Administrator Controllers --->
    
    <script src="js/AdministratorControllers/genresController.js"></script>
    <script src="js/AdministratorControllers/roleController.js"></script>
    <script src="js/AdministratorControllers/userController.js"></script>
    <script src="js/AdministratorControllers/movieController.js"></script>
    <script src="js/AdministratorControllers/actorController.js"></script>
    <script src="js/AdministratorControllers/categoriesController.js"></script>
    <script src="js/AdministratorControllers/languageController.js"></script>
    <script src="js/AdministratorControllers/subtitlesController.js"></script>
    <script src="js/AdministratorControllers/suggestionController.js"></script>
    <script src="js/IndexControllers/bookingMovieController.js"></script>
    <script src="js/AdministratorControllers/discountController.js"></script>
    <script src="js/AdministratorControllers/storeController.js"></script>

    <!-- Include Bootstrap-select CSS, JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>

    <!--Angular Table   --->
    <script src="js/ng-table.min.js"></script>

    <!--Smart Table   --->
    <script src="node_modules/angular-smart-table/dist/smart-table.js"></script>

    <!--Angular Drag and drop   --->
    <script src="js/dragAndDropList.js"></script>
</html>
