<!-- Modal 
 _____                _        
/ ____|              | |       
| |     _ __ ___  __ _| |_ ___  
| |    | '__/ _ \/ _` | __/ _ \ 
| |____| | |  __/ (_| | ||  __/ 
\_____|_|  \___|\__,_|\__\___| 

-->

<div class="modal fade " id="createMovieModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Agregar Pelicula 
                </h4>

            </div>
            <!-- Modal Body -->
            <div>
                <div id="wrapper">
                    <div id="content">
                        <div class="modal-body pre-scrollable">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label"
                                        for="inputNombre">Nombre</h5>
                                    <div class="col-md-6">
                                        <input press-enter="searchMovie()"  class="form-control" id="movieNameInputCreate" ng-model="actualMovie.title" placeholder="Nombre de la Pelicula"/>
                                    </div>
                                    <div class="col-md-2">
                                        <btn ng-click="searchMovie()"  ng-show="!loading"  class=" magic fa fa-magic" aria-hidden="true"></btn>
                                        <i ng-show="loading"  class="fa fa-spinner magic fa-spin  fa-fw"></i>
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label"
                                        for="inputYear">Año</h5>
                                    <div class="col-md-8">
                                        <input ng-model= "actualMovie.year" type="number" min="1900" max="2099" step="1" value="2016" class="form-control" id="movieYearInputCreate" placeholder="Año de la Pelicula"/> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label"
                                        for="inputNombre">Genero/s</h5>
                                    <div class="col-md-8">
                                        <div class="GenresRadioButtonsCreate" id="radio_genres_create"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5   class="col-md-4 control-label"
                                        for="inputNombre">Idioma/s</h5>
                                    <div class="col-md-8">
                                        <div class="LanguagesRadioButtonsCreate" id="radio_languages_create"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5   class="col-md-4 control-label"
                                        for="inputActor">Actor/es</h5>
                                    <div class="col-md-8">
                                        <div class="ActorsRadioButtonsCreate" id="actors_languages_create"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label"
                                        for="inputNombre">Trama</h5>
                                    <div class="col-md-8">
                                        <textarea ng-model="actualMovie.plot" rows="5"  class="form-control" id="movieDescriptionInputCreate" placeholder="Trama de la Pelicula"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label"
                                        for="inputYear">Precio</h5>
                                    <div class="col-md-8">
                                        <input type="number"  step="100" value="0" class="form-control" id="moviePriceInputCreate" placeholder="Precio de la Pelicula"/> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="createSidebar">
                        <div id="moviePoster" class="modal-body posterContainer">
                            <img class="posterImg" src={{actualMovie.poster}}>
                            <input class="form-control" ng-model="actualMovie.poster" id="movieImageInputCreate" placeholder="Poster Url"/>
                        </div>
                    </div>
                    <div id="cleared"></div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" ng-click="this.addMovie()">
                    Crear Pelicula
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<button class="btn" data-toggle="modal" data-target="#createMovieModal" ng-click="this.setAddMovie()">
    Agregar Pelicula 
</button>


<!-- 
 ______                   
/  ____| |                  
| (___ | |__   _____      __
\___ \| '_ \ / _ \ \ /\ / /
____) | | | | (_) \ V  V / 
|_____/|_| |_|\___/ \_/\_/  

-->


<div class="modal fade" id="showMovieModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content col-lg-12 ">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{actualMovie.pelicula}} 
                </h4>

            </div>
            <!-- Modal Body -->
            <div id="wrapper">
                <div id="content"><div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">ID: </h4>
                            <h5  class="col-lg-8 col-md-8 col-sm-4 col-xs-4" for="inputNombre">{{actualMovie.idPelicula}}</h5>
                        </div>
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Titulo: </h4>
                            <h5  class="col-lg-8 col-md-8 col-sm-4 col-xs-4" for="inputNombre">{{actualMovie.pelicula}}</h5>
                        </div>
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Codigo: </h4>
                            <h5  class="col-lg-8 col-md-8 col-sm-4 col-xs-4" for="inputNombre">{{actualMovie.codigo}}</h5>
                        </div>
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Año: </h4>
                            <h5  class="col-lg-8 col-md-8 col-sm-4 col-xs-4" for="inputNombre">{{actualMovie.ano}}</h5>
                        </div>
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Genero/s: </h4>
                            <select id="selectGenresShow">
                            </select>
                        </div>
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Idioma/s: </h4>
                            <select id="selectLanguagesShow">
                            </select>
                        </div>
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Actor/es: </h4>
                            <select id="selectActorsShow">
                            </select>
                        </div>
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Trama: </h4>
                            <h5  class="col-lg-8 col-md-8 col-sm-4 col-xs-4"for="inputNombre">{{actualMovie.trama}}</h5>
                        </div>
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Precio: </h4>
                            <h5  class="col-lg-8 col-md-8 col-sm-4 col-xs-4"for="inputNombre">{{actualMovie.precio}}</h5>
                        </div>
                        <div class="form-group">
                            <h4  class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Cover: </h4>
                            <h5  class="col-lg-8 col-md-8 col-sm-4 col-xs-4"for="inputNombre">{{actualMovie.linkImagen}}</h5>
                        </div>
                    </form>   
                    </div>
                </div>
                <div id="sidebar">
                    <div id="moviePoster" class="modal-body posterContainer">
                        <img class="posterImg" src={{actualMovie.linkImagen}}>
                    </div>
                </div>
                <div id="cleared">
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 
  ______ _____ _____ _______ 
 |  ____|  __ \_   _|__   __|
 | |__  | |  | || |    | |   
 |  __| | |  | || |    | |   
 | |____| |__| || |_   | |   
 |______|_____/_____|  |_|   
                             
-->

<div class="modal fade" id="editMovieModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Editar Pelicula 
                </h4>
            </div>
            <!-- Modal Body -->
            <div>
                <div id="wrapper">
                    <div id="content">
                        <div class="modal-body pre-scrollable">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label" for="inputNombre">Nombre</h5>
                                    <div class="col-md-6">
                                        <input class="form-control" id="movieNameEdit" ng-model="actualMovie.pelicula" placeholder={{actualMovie.pelicula}} 
                                               value={{actualMovie.pelicula}}>
                                    </div>
                                    <div class="col-md-2">
                                        <btn ng-click="searchMovie()"  ng-show="!loading"  class=" magic fa fa-magic" aria-hidden="true"></btn>
                                        <i ng-show="loading"  class="fa fa-spinner magic fa-spin  fa-fw"></i>
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label" for="inputYear">Año</h5>
                                    <div class="col-md-8">
                                        <input class="form-control" id="movieYearEdit" placeholder={{actualMovie.ano}} value={{actualMovie.ano}}> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label" for="inputNombre">Genero/s</h5>
                                    <div class="col-md-8">
                                        <div class="genresRadioButtons" id="radio_genres"></div>
                                        <hr>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5   class="col-md-4 control-label" for="inputNombre">Idioma/s</h5>
                                    <div class="col-md-8">
                                        <div class="languagesRadioButtons" id="radio_languages"></div>
                                        <hr>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5   class="col-md-4 control-label" for="inputNombre">Actor/es</h5>
                                    <div class="col-md-8">
                                        <div class="ActorsRadioButtons" id="radio_actors"></div>
                                        <hr>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label" for="inputNombre">Trama</h5>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="movieDescriptionEdit" placeholder={{actualMovie.trama}}>{{actualMovie.trama}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h5  class="col-md-4 control-label" for="inputYear">Precio</h5>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control" id="moviePriceEdit" placeholder={{actualMovie.precio}} value={{actualMovie.precio}}> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="createSidebar">
                        <div id="moviePoster" class="modal-body posterContainer">
                            <img class="posterImg" src={{actualMovie.linkImagen}}>
                            <input class="form-control" id="movieLinkInput" placeholder={{actualMovie.linkImagen}} value={{actualMovie.linkImagen}}>
                        </div>
                    </div>
                    <div id="cleared"></div>
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" ng-click="this.editMovie()">
                    Editar
                </button>
            </div>
        </div>
    </div>
</div>
</div>
